[submodule "lib/Conf"]
	path = lib/Conf
	url = https://github.com/syoung/flow-conf
[submodule "lib/Engine"]
	path = lib/Engine
	url = https://github.com/syoung/flow-engine
[submodule "lib/Exchange"]
	path = lib/Exchange
	url = https://github.com/syoung/flow-exchange
[submodule "lib/Table"]
	path = lib/Table
	url = https://github.com/syoung/flow-table
[submodule "lib/Test"]
	path = lib/Test
	url = https://github.com/syoung/flow-test
[submodule "lib/Util"]
	path = lib/Util
	url = https://github.com/syoung/flow-util
[submodule "lib/Virtual"]
	path = lib/Virtual
	url = https://github.com/syoung/flow-virtual
[submodule "ext/exchange"]
	path = ext/exchange
	url = https://github.com/syoung/flow-ext-exchange
[submodule "ext/perl"]
	path = ext/perl
	url = https://github.com/syoung/flow-ext-perl
