[submodule "lib/Conf"]
	path = lib/Conf
	url = https://github.com/syoung/flow-conf
[submodule "lib/DBase"]
	path = lib/DBase
	url = https://github.com/syoung/flow-dbase
[submodule "lib/Engine"]
	path = lib/Engine
	url = https://github.com/syoung/flow-engine
[submodule "lib/Exchange"]
	path = lib/Exchange
	url = https://github.com/syoung/flow-exchange
[submodule "lib/Ops"]
	path = lib/Ops
	url = https://github.com/syoung/flow-ops
[submodule "lib/Package"]
	path = lib/Package
	url = https://github.com/syoung/flow-package
[submodule "lib/Table"]
	path = lib/Table
	url = https://github.com/syoung/flow-table
[submodule "lib/Test"]
	path = lib/Test
	url = https://github.com/syoung/flow-test
[submodule "perl"]
	path = perl
	url = https://github.com/syoung/flow-perl
[submodule "lib/Util"]
	path = lib/Util
	url = https://github.com/syoung/flow-util
[submodule "perl"]
	path = perl
	url = https://github.com/syoung/flow-perl
