---
core:
  ADMINUSER: admin
  AGUADIR: .flow 
  AGUAUSER: agua
  INSTALLDIR: <INSTALLDIR>
  USERDIR: <USERDIR>
database:
  DBFILE: db/db.sqlite
  DBTYPE: SQLite
  TESTDBFILE: db/test.sqlite
  TESTDBTYPE: SQLite
